
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Oswald')

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
	

header{
	background-color: #c99789;
	background-size: 100%
	padding: 2em;
}

body{
	font-family: 'Oswald', sans-serif;
	color: #ffe9dc;
	font-size: 16px;
	line-height:1.5em; 
}
	
}
section {
	padding: 2em 0;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Amatic SC', cursive;
	line-height: 1.5em;
	color: #cdd3ca;

p{
	font-family:"Oswald", sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}

nav{
	font-family:'Oswald', sans-serif;
	background-color: #222222;
	text-transform: uppercase;
	text-align: center;
	font-size: .75em;
	letter-spacing: .25em;
	font-weight: 300;
	line-height: 2em;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
}

section{
	/*padding:2em;*/
}

nav a{
	color: lightgray;
	text-decoration: none;
}

a{
	color: #558ED5;
	text-decoration: none;
}

h1{
	font-size: 5em;
	font-weight: 900;
}

h1,h2{
	text-transform: uppercase;
}

h2{
	font-size:3.5em;
}

p{
	width: 30em;
}

ul{
	padding:1.5em;
}


.clearfloat:after{
	content: "";
	display: block;
	clear: both;
}

#slogan{
	font-size:35px;
	font-style: italic;
	font-weight: 200;
	line-height: 1.5em;
	width: 16em;
	float: left;
}

#headshot{
	width: 15%;
	float: right;
}

.right{
	width: 50%;
	float: left;
	padding:2em;
}

.left{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
}

#About{
	background: faf0e6;
	color: #222222;
}

#employeeicon,#successicon,#laptopicon,#gradcapicon,#mailicon{
	width: 50%;
	display: block;
	margin: 0 auto;
}


.logo {
    width: auto;
    max-height: 50px;
}


#Experience{
	background: #fdf5e6;
}


.employer{
	color: #fdf5e6;
}

.jobtitle, #degree{
	font-weight: bold;
}

.city,.dates{
	font-style: italic;
}

#skills{
	background: #fff5ee;
}

.skilltype{
	color: #fff5ee;
}

#education{
	background: #fff5ee;
}

#school{
	color: #fff5ee;
}

#contact{
	background: #222222;

}